get-task {
    .content{
        .task_img{
            width: 100%;
            text-align:center;
            margin-top:47px;
            img{
                width: 148px;
                height: 148px;
            }
        }
        p{
            color:rgb(153,153,153);
            font-size:14px;
            text-align:center;
            margin-top:15px;
        }
        .button_box{
            width: 100%;
            text-align: center;
            margin-top:60px;
            button{
                width: 210px;
                height: 44px;
                color:#fff;
                font-size:16px;
                background-color:#3593f2;
                border-radius: 43px;
                box-shadow: 0 8px 35px 0 rgba(53,154,242,.49);
            }
        }
    }
}
