page-home {
    .header_icon_box{
        position:absolute;
        top:0;
        right:13px;
        height: 100%;
        .header_icon{
            width: 22px;
            height: 22px;
            margin-top:50%;
        }
    }
}
