<!-- Generated template for the SalelTaskListComponent component -->
<div>
  <div class="list" #list>
    <div class="item">
      <div class="title">
        <div class="name_box">
          <span class="name">24568745632@163.com</span>
          <button type="button" class="title_btn success_btn">营销成功</button>
        </div>
        <div class="arrow_btn arrow_down" (click)="upAndDown('0')"></div>
      </div>
      <div class="content" #content>
        <p>
          <span>联系号码</span>
          <span>1346663332222</span>
        </p>
        <p>
          <span>所在区县</span>
          <span>旺角</span>
        </p>
        <p>
          <span>处理时间</span>
          <span>2018-04-17 03：51</span>
        </p>
        <p>
          <span>固话数</span>
          <span>51</span>
        </p>
        <p>
          <span>IPTV数</span>
          <span>20</span>
        </p>
        <p>
          <span>宽带数</span>
          <span>60M</span>
        </p>
      </div>
      <div class="footer">
        <button type="button" class="feekback_btn" (click)="feedbackList()">回单</button>
        <button type="button" class="detials_btn">详情</button>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="name_box">
          <span class="name">24568745632@163.com</span>
          <button type="button" class="title_btn unaccept_btn">无意向</button>
        </div>
        <div class="arrow_btn arrow_down" (click)="upAndDown('1')"></div>
      </div>
      <div class="content" #content>
        <p>
          <span>联系号码</span>
          <span>1346663332222</span>
        </p>
        <p>
          <span>所在区县</span>
          <span>旺角</span>
        </p>
        <p>
          <span>处理时间</span>
          <span>2018-04-17 03：51</span>
        </p>
        <p>
          <span>固话数</span>
          <span>51</span>
        </p>
        <p>
          <span>IPTV数</span>
          <span>20</span>
        </p>
        <p>
          <span>宽带数</span>
          <span>60M</span>
        </p>
      </div>
      <div class="footer">
        <button type="button" class="feekback_btn" (click)="feedbackList()">回单</button>
        <button type="button" class="detials_btn">详情</button>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <div class="name_box">
          <span class="name">24568745632@163.com</span>
          <button type="button" class="title_btn accept_btn">有意向</button>
        </div>
        <div class="arrow_btn arrow_down" (click)="upAndDown('2')"></div>
      </div>
      <div class="content" #content>
        <p>
          <span>联系号码</span>
          <span>1346663332222</span>
        </p>
        <p>
          <span>所在区县</span>
          <span>旺角</span>
        </p>
        <p>
          <span>处理时间</span>
          <span>2018-04-17 03：51</span>
        </p>
        <p>
          <span>固话数</span>
          <span>51</span>
        </p>
        <p>
          <span>IPTV数</span>
          <span>20</span>
        </p>
        <p>
          <span>宽带数</span>
          <span>60M</span>
        </p>
      </div>
      <div class="footer">
        <button type="button" class="feekback_btn" (click)="feedbackList()">回单</button>
        <button type="button" class="detials_btn">详情</button>
      </div>
    </div>
  </div>
</div>
